/* Background image (change the URL to change the image) */
body {
    background: rgb(var(--color-background)) url("https://cdn.discordapp.com/attachments/645334093877215232/845096013252395018/c042a273-92a9-4365-c33e-59ed257745e7.png") center/100% fixed;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

/* Transparent banner - use together with background image */
.banner {
    background-image: none !important;
    background-color: rgb(36, 37, 56, 0) !important;
    height: auto !important;
}
.banner .shadow{
    background: none !important;
}

/* favourites section */
.favourite {
    transition: transform 5s linear;
    border-radius: 20%;
    position: static;
}

/* favourites section hover - it spins! */
.favourite:hover {
    transform: rotateZ(720deg);
    transform-origin: top;
    position: relative;
    transition: .0s;
    transform-style: preserve-3d;
}

/*  favourites section wrapping */
.favourites-wrap.anime,
.favourites-wrap.manga,
.favourites-wrap.characters,
.favourites-wrap.staff,
.favourites-wrap.studios {
    overflow: visible;
}

/* About section scrollbar */
.user .about > div.content-wrap:hover {
    scrollbar-width: thin;
}

/* Profile activity (status/messages/list) Makes border corners rounded. Also required as bugfix for .avatar hover! */
.wrap,
.reply {
    border-radius: 20px !important;
    overflow: visible !important;
}
/* Anime/manga displaying rounded corners, part 2 */
.cover {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.list-stats {
    border-radius: 20px !important;
}

/* Horizontal rule border settings */
.markdown hr {
    border: solid 1px rgb(255, 111, 0);
    border-radius: 1px;
}

/* Blockquotes*/
.markdown blockquote {
    margin-right: auto;
}

/* Site background color transparency */
.site-theme-dark {
    --color-foreground: 16, 24, 35, .90;
}

/*Hides hoh download button*/
.hohDownload {
    display: none;
}

/* Changes scrollbar for whole page (Firefox)*/
html {
    scrollbar-width: thin;
}

/* Chrome scrollbar */
::-webkit-scrollbar {
    width: 6px;
    background: #01232d;
}

::-webkit-scrollbar-corner {
    background: #01232d;
}
::-webkit-scrollbar-thumb {
    background: #ff6f00;
    -webkit-border-radius: 1ex;
}

/* Modifies load-more button */
.load-more {
    border-radius: 30px !important;
    font-family: 'Brush Script MT', cursive !important;
    font-size: 3rem !important;
    margin: auto !important;
    max-width: 200px !important;
}

/* Changes "Overview/Anime List/Manga List..." nav section. - shorter navbar*/
.nav-wrap {
    background: rgb(var(--color-foreground)) !important;
    width: 65% !important;
    margin: 0 auto !important;
    border-radius: 30px !important;
}

img.avatar,
h1.name {
    margin: auto;
}

/* Re-aligns profile picture and name. */
.banner-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    width: auto !important;
    background-color: rgb(var(--color-foreground));
    padding: 10px;
    border-radius: 30px !important;
    margin: auto;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 10px
}

/* Re-aligns more stuff... Part of shorter navbar*/
.content.container {
    max-width: 65%;
    padding-left: 0px;
    padding-right: 0px;
}
.activity-feed-wrap {
    margin-left: 3%;
}
.stats-wrap {
    margin-left: 3%;
}

/** Main avatar. */
.avatar {
    border-radius: 100%;
    transition: transform 2s;
}
.avatar:hover {
    /*transform: rotateY(180deg);*/
    transition: 2s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

/* avatar */
a[class="avatar"],
a[class="avatar router-link-exact-active router-link-active"] {
    transition: transform 1s !important;
}
/* avatar hover */
a[class="avatar"]:hover,
a[class="avatar router-link-exact-active router-link-active"]:hover {
    transform: scale(5) !important;
    transition: transform 1s;
    transform-style: preserve-3d;
}
